.Nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 65px;
    align-items: center;
    width: 100;
    background-color: white;
    animation-name: header-anim;
    animation-duration: 0.5s;
}

#insta-pic {
    margin-top: 20px;
    width: 40px;
}

#camera-pic {
    width: 33px;
    cursor: pointer;
}

.logo {
    display: flex;
}

.insta-text {
    padding: 0 10px;
    font-size: 30px;
    font-family: sans-serif;

}

.form-container{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 15px;
    height:200px;
    width:400px;
    margin: auto;
    margin-top: 30px;

     
}
#file{
    padding:10px;
    display: inline;
    align-content: space-around;
    margin:auto;
    
}
#details{
    margin: auto;
    margin-inline: 12px;
}
input,textarea{
    box-sizing: border-box;
    align-content: space-around;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}
.button{
    display: block;
    margin: auto;
    width: 100px;
    padding:5px
}
textarea{
    margin: auto;
    margin-inline: 12px;
    width:370px
}